<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <!-- Set the charset -->
    <property name="charset" value="UTF-8"/>
    <module name="SuppressWarningsFilter" />

    <!-- TreeWalker is the main module for most checks -->
    <module name="TreeWalker">
        <!-- enable suppressions -->
        <module name="SuppressWarningsHolder" />

        <!-- Naming conventions -->
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="ParameterName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>

        <!-- Imports -->
        <module name="UnusedImports"/>
        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>

        <module name="IllegalType"> <!-- usage of var check -->
            <property name="illegalClassNames" value="var"/>
            <property name="tokens" value="VARIABLE_DEF"/>
            <property name="id" value="IllegalTypeVarAsField"/>
        </module>

        <module name="IllegalType">
            <property name="illegalClassNames" value="java.util.Date"/>
            <message key="illegal.type" value="Avoid using java.util.Date; use java.time.* instead."/>
        </module>

    </module>
</module>
