<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="true">
    <contextName>test</contextName>

    <appender name="GELF" class="io.github.duoduobingbing.gelflogging4j.gelf.logback.GelfLogbackAppender">
        <graylogHost>http://localhost:19393/foo/bar</graylogHost>
        <graylogPort>19393</graylogPort>
        <facility>gelf-logging4j</facility>
        <extractStackTrace>true</extractStackTrace>
        <filterStackTrace>true</filterStackTrace>
        <mdcProfiling>true</mdcProfiling>
        <timestampPattern>yyyy-MM-dd HH:mm:ss,SSS</timestampPattern>
        <maximumMessageSize>8192</maximumMessageSize>

        <additionalLogFields>
            <staticLogField>
                <name>fieldName1</name>
                <literal>fieldValue1</literal>
            </staticLogField>
            <staticLogField>
                <name>fieldName2</name>
                <literal>fieldValue2</literal>
            </staticLogField>
            <staticLogField>
                <name>myOriginHost</name>
                <literal>${HOSTNAME}</literal>
            </staticLogField>
            <mdcLogField>
                <mdc>mdcField1</mdc>
            </mdcLogField>
            <mdcLogField>
                <mdc>mdcField2</mdc>
            </mdcLogField>
        </additionalLogFields>

        <originHost>1.2.3.4</originHost>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="GELF"/>
    </root>
</configuration>
